/*****
cards-sprite.css
Hacking up the img/CardsSmall.gif into a sprite
by fching
*****/


.diamonds-ace,.diamonds-2,.diamonds-3,.diamonds-4,.diamonds-5,.diamonds-6,.diamonds-7,
.diamonds-8,.diamonds-9,.diamonds-10,.diamonds-jack,.diamonds-queen,.diamonds-king,.hearts-ace,
.hearts-2,.hearts-3,.hearts-4,.hearts-5,.hearts-6,.hearts-7,.hearts-8,.hearts-9,
.hearts-10,.hearts-jack,.hearts-queen,.hearts-king,.spades-ace,.spades-2,.spades-3,.spades-4,
.spades-5,.spades-6,.spades-7,.spades-8,.spades-9,.spades-10,.spades-jack,.spades-queen,
.spades-king,.clubs-ace,.clubs-2,.clubs-3,.clubs-4,.clubs-5,.clubs-6,.clubs-7,.clubs-8,
.clubs-9,.clubs-10,.clubs-jack,.clubs-queen,.clubs-king,.hidden-card {

	background-image: url('CardsSmall.gif');
	width: 45px;
	height: 63px;
	background-position: 0 0;
}

.hidden-card{
	background-position: 0px -252px;

}
.hearts-ace{
	background-position: 0px 0px;
}

.hearts-2{
	background-position: -45px 0px;
}

.hearts-3{
	background-position: -90px 0px;
}

.hearts-4{
	background-position: -135px 0px;
}

.hearts-5{
	background-position: -180px 0px;
}

.hearts-6{
	background-position: -225px 0px;
}

.hearts-7{
	background-position: -270px 0px;
}

.hearts-8{
	background-position: -315px 0px;
}

.hearts-9{
	background-position: -360px 0px;
}

.hearts-10{
	background-position: -405px 0px;
}

.hearts-jack{
	background-position: -450px 0px;
}

.hearts-queen{
	background-position: -495px 0px;
}

.hearts-king{
	background-position: -540px 0px;
}

.diamonds-ace{
	background-position: 0px -63px;
}

.diamonds-2{
	background-position: -45px -63px;
}

.diamonds-3{
	background-position: -90px -63px;
}

.diamonds-4{
	background-position: -135px -63px;
}

.diamonds-5{
	background-position: -180px -63px;
}

.diamonds-6{
	background-position: -225px -63px;
}

.diamonds-7{
	background-position: -270px -63px;
}

.diamonds-8{
	background-position: -315px -63px;
}

.diamonds-9{
	background-position: -360px -63px;
}

.diamonds-10{
	background-position: -405px -63px;
}

.diamonds-jack{
	background-position: -450px -63px;
}

.diamonds-queen{
	background-position: -495px -63px;
}

.diamonds-king{
	background-position: -540px -63px;
}

.clubs-ace{
	background-position: 0px -126px;
}

.clubs-2{
	background-position: -45px -126px;
}

.clubs-3{
	background-position: -90px -126px;
}

.clubs-4{
	background-position: -135px -126px;
}

.clubs-5{
	background-position: -180px -126px;
}

.clubs-6{
	background-position: -225px -126px;
}

.clubs-7{
	background-position: -270px -126px;
}

.clubs-8{
	background-position: -315px -126px;
}

.clubs-9{
	background-position: -360px -126px;
}

.clubs-10{
	background-position: -405px -126px;
}

.clubs-jack{
	background-position: -450px -126px;
}

.clubs-queen{
	background-position: -495px -126px;
}

.clubs-king{
	background-position: -540px -126px;
}

.spades-ace{
	background-position: 0px -189px;
}

.spades-2{
	background-position: -45px -189px;
}

.spades-3{
	background-position: -90px -189px;
}

.spades-4{
	background-position: -135px -189px;
}

.spades-5{
	background-position: -180px -189px;
}

.spades-6{
	background-position: -225px -189px;
}

.spades-7{
	background-position: -270px -189px;
}

.spades-8{
	background-position: -315px -189px;
}

.spades-9{
	background-position: -360px -189px;
}

.spades-10{
	background-position: -405px -189px;
}

.spades-jack{
	background-position: -450px -189px;
}

.spades-queen{
	background-position: -495px -189px;
}

.spades-king{
	background-position: -540px -189px;
}

/*
.hearts-a,.hearts-2 {
	background-image: url('img/CardsSmall.gif');
	width: 45px;
	height: 63px;
}

.hearts-a {

	background-position: 0px 0px;
}

/*
.hearts-2 {
	height: 63px;
	background-position: -45px,0px;
}
.hearts-3 {
	height: 63px;
	background-position: -90px,0px;
}
.hearts-4 {}
.hearts-5 {}
.hearts-6 {}
.hearts-7 {}
.hearts-8 {}
.hearts-9 {}
.hearts-10 {}
.hearts-j {}
.hearts-q {}
.hearts-k {}

.clubs-a {
	height: 63px;
	background-position: 0px,-63px;
}
.clubs-2 {
	height: 63px;
	background-position: -45px,-63px;
}
.clubs-3 {}
.clubs-4 {}
.clubs-5 {}
.clubs-6 {}
.clubs-7 {}
.clubs-8 {}
.clubs-9 {}
.clubs-10 {}
.clubs-j {}
.clubs-q {}
.clubs-k {}

.clubs-a {}
.clubs-2 {}
.clubs-3 {}
.clubs-4 {}
.clubs-5 {}
.clubs-6 {}
.clubs-7 {}
.clubs-8 {}
.clubs-9 {}
.clubs-10 {}
.clubs-j {}
.clubs-q {}
.clubs-k {}

.spades-a {}
.spades-2 {}
.spades-3 {}
.spades-4 {}
.spades-5 {}
.spades-6 {}
.spades-7 {}
.spades-8 {}
.spades-9 {}
.spades-10 {}
.spades-j {}
.spades-q {}
.spades-k {}

