.highlighted-module {
  background-color: #F46A6A;
  color:#fff;
  max-width:800px;
  margin: 100px auto 0;
  text-align: center;
  display: table;
}
.highlighted-cell {
  display: table-cell;
  margin:1.5%;
  font-size:50px;
  background-color: #FF6F6F;
  width:200px;
  border-radius: 50%;
  height:200px;
  vertical-align: middle;
}

